:root {
  --clr-bg-main: hsl(222, 26%, 31%);
  --clr-bg-keypad: hsl(223, 31%, 20%);
  --clr-bg-screen: hsl(224, 36%, 15%);

  --clr-bg-key: hsl(30, 25%, 89%);
  --clr-shadow-key: hsl(28, 16%, 65%);
  
  --clr-bg-txtKey: hsl(225, 21%, 49%);
  --clr-shadow-txtKey: hsl(224, 28%, 35%);

  --clr-equalKey: hsl(0, 0%, 100%);
  --clr-bg-equalKey: hsl(6, 63%, 50%);
  --clr-shadow-equalKey: hsl(6, 70%, 34%);
  
  --clr-screen: hsl(0, 0%, 100%);
  --clr-key: hsl(221, 14%, 31%); 
}

/* display: flex */
body, header, 
.themes-input, .themes-label,
.color-picker, .screen, .key {
  display: flex;
}

/*  */

html, body {
  height: 100%;
}

* {
  margin:  0;
  border: none;
  padding: 0;
}


body {
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  font-size: 1.25rem;
  background-color: var(--clr-bg-main);
  font-family: "League Spartan", sans-serif;
}

.container {
  margin-inline: 2rem;
}

 /* HEADER */

header {
  justify-content: space-between;
  align-items: flex-end;
  
  font-size: 0.75rem;
  margin-bottom: 2rem;
  color: var(--clr-screen);
}

.color-picker {
  gap: 1rem;
}

legend {
  align-self: flex-end;
  margin-bottom: 0.25rem;
}

.title {
  font-size: 1.75rem;
}

.themes-label {
  gap: 0.75rem;
  justify-content: center;
  margin-bottom: 0.25rem;
}

.themes-input {
  gap: 0.25em;
  padding: 0.25rem;
  border-radius: 1rem;
  background-color: var(--clr-bg-keypad);
}

.color-picker input[type="radio"]{
  appearance: none;
  width: 1rem;
  height: 1rem;
  outline-offset: 3px;
  border-radius: 50%;
}

.color-picker input[type="radio"]:checked {
  background-color: var(--clr-bg-equalKey);
  transition: background-color 0.5s linear;
}

/* Screen */

.screen {
  justify-content: right;
  align-items: center;

  overflow: auto;
  font-size: 2.5rem;
  min-height: 6rem;
  margin-bottom: 1rem;

  color: var(--clr-screen);
  border-radius: 0.5rem;
  background-color: var(--clr-bg-screen);
}

.result {
  margin-right: 1rem;
}

/* Keys  */

.keypad {
  display: grid;
  grid-template-rows: repeat(5, minmax(auto, 3rem));
  grid-template-columns: repeat(4, minmax(auto, 5rem));
  gap: 1rem;

  padding: 1.25rem;
  border-radius: 0.5rem;
  background-color: var(--clr-bg-keypad);
}

.key {
  justify-content: center;
  align-items: center;
  
  border-radius: 0.5rem;
  cursor: pointer;
}

.numKey, .operator {
  font-size: 2rem;
  color: var(--clr-key);
  background-color: var(--clr-bg-key);
  box-shadow: 0rem 0.25rem 0.125rem 0rem var(--clr-shadow-key);
}

.key:hover {
  background-color: hsl(30, 25%, 95%);
}

.reset, .equals {
  grid-column: span 2;
}

.txtKey {
  color: white;
  background-color: var(--clr-bg-txtKey);
  box-shadow: 0rem 0.25rem 0.125rem 0rem var(--clr-shadow-txtKey);
}

/* .txtKey:hover {
  transition: background-color 0.2s ease-in-out;
  background-color: hsl(225, 21%, 55%);
} */

.equals {
  color: var(--clr-equalKey);
  background-color: var(--clr-bg-equalKey);
  box-shadow: 0rem 0.25rem 0.125rem 0rem var(--clr-shadow-equalKey);
}

/* .equals:hover {
  transition: background-color 0.2s ease-in-out;
  background-color: hsl(6, 63%, 56%);
} */

#light, :root:has(#light:checked) {
  --clr-bg-main: hsl(0, 0%, 90%);
  --clr-bg-keypad: hsl(0, 5%, 81%);
  --clr-bg-screen: hsl(0, 0%, 93%);
  
  --clr-bg-key: hsl(45, 7%, 89%);
  --clr-shadow-key: hsl(35, 11%, 61%);

  --clr-bg-txtKey: hsl(185, 42%, 37%);
  --clr-shadow-txtKey: hsl(185, 58%, 25%);

  --clr-bg-equalKey: hsl(25, 98%, 40%);
  --clr-shadow-equalKey: hsl(25, 97%, 27%);

  --clr-screen: hsl(60, 10%, 19%);
  --clr-key: hsl(60, 10%, 19%); 
}

#purple, :root:has(#purple:checked) {
  --clr-bg-main: hsl(268, 75%, 9%);
  --clr-bg-keypad: hsl(268, 71%, 12%);
  --clr-bg-screen: hsl(268, 71%, 12%);
  
  --clr-bg-key: hsl(268, 47%, 21%);
  --clr-shadow-key: hsl(290, 70%, 36%);

  --clr-bg-txtKey: hsl(281, 89%, 26%);
  --clr-shadow-txtKey: hsl(285, 91%, 52%);

  --clr-equalKey: hsl(0, 0%, 0%);
  --clr-bg-equalKey: hsl(176, 100%, 44%);
  --clr-shadow-equalKey: hsl(177, 92%, 70%);

  --clr-screen: hsl(52, 100%, 62%);
  --clr-key: hsl(52, 100%, 62%); 
}